.card__container{
    width: 300px;
    margin: 5px;
    border: 2px solid rgb(34, 21, 21);
    border-radius: 5px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__container img{
    width: 40%;
    margin: 10px auto;
}

.card__cuerpo{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.card__cuerpo h4, .card__cuerpo h3{
    text-align: justify;
    margin: 5px 5px;
}

.card__cuerpo h4{
    width: 25%;
}

.card__cuerpo h3{
    text-align: left;
}

.card__descripcion p{
    text-align: justify;
    margin: 5px 5px;
}

.btn-detail{
    margin: 10px 0;

}

.btn-detail button{
    background-color: rgb(253, 194, 33);
    padding: 5px;
    color: #000;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
}

.btn-detail-container{
    display: flex;
    flex-direction: column;
}

.btn-detail-container button{
    padding: 5px 10px;
    margin: 0 10px;
    border: 0;
    border-radius: 5px;
    font-weight: 700;

}

.sumar{
    background-color: green;
}

.sumar, .restar, .agregar-carrito{
    font-weight: bold;
    font-size: 20px;
}

.agregar-carrito button{
    background-color: greenyellow;
}

.agregar-carrito-2 button{
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 0;
}

.restar{
    background-color: red;
}

.btn-detail-item{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.table{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}


.t-titulos{
    height: 3rem;
}

td button{
    margin: auto;
    display: block;
}

tr{
    height: 50px;
}

.table-primary h4, .table-primary p{
    text-align: center;
}

td .empty{
    padding: 15px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(58, 61, 105);
    text-decoration: none;

}

.t-item{
    padding: 10px 0;
}

button{
    padding: 5px 5px;
    background-color: coral;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
}

.order{
    border: 2px solid red;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.order h1, h4{
    margin: 20px 0 10px 0;
}

.order h4{
    background-color: chartreuse;
    width: fit-content;
    text-align: center;
    padding: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form input{
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.form button{
    margin-top: 15px;
    width: 100px;
    align-self:center;
    background-color: green;
}



@media screen and (max-width:800px){
    .table{
        width: 95%;
        font-size: 0.7em;
    }

    .order{
        width: 90%;
        margin: auto;
        margin-top: 25px;
    }
}