.itemListContainer{
    background-color: tomato;
    width: 50%;
    margin: auto;
    display: block;
    padding: 60px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 100px;
    font-size: 0.8em;
    text-align: center;
}

@media (max-width: 550px){

    .itemListContainer{
        font-size: 1em;
        width: 90%;
    }
}