.card__container{
    width: 300px;
    margin: 5px;
    border: 2px solid rgb(34, 21, 21);
    border-radius: 5px;
}

.card__container img{
    width: 40%;
    margin: 10px 0;
}

.card__cuerpo{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.card__cuerpo h4, .card__cuerpo h3{
    text-align: justify;
    margin: 5px 5px;
}

.card__descripcion p{
    text-align: justify;
    margin: 5px 5px;
}

.btn-detail{
    margin: 10px 0;
}

.btn-detail button{
    background-color: rgb(253, 194, 33);
    padding: 5px;
    color: #000;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
}

.btn-detail-container{
    display: flex;
    flex-direction: column;
}

.btn-detail-container button{
    padding: 5px 10px;
    margin: 0 10px;
    border: 0;
    border-radius: 5px;
    font-weight: 700;

}

.sumar{
    background-color: green;
}

.sumar, .restar, .agregar-carrito{
    font-weight: bold;
    font-size: 20px;
}

.agregar-carrito button{
    background-color: greenyellow;
}

.agregar-carrito-2 button{
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 0;
}

.restar{
    background-color: red;
}

.btn-detail-item{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}